nav{
	width:100%;
	height:70px;
	padding:10px 0;
	color:#222;
	border-bottom:1px solid #222;
	background-color:#f3f3f3;
	z-index:10;
	position:fixed;
	
}

nav .logo{
	width:70px;
	height:70px;
	float:left;
}

nav .logo img{
	box-sizing:border-box;
	padding:10px;	
}

nav #navigation{
	height:70px;
	transition:box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
	box-sizing:border-box;
	padding:6px 7px;
	float:left;
	display:inline-block;
	cursor:pointer;
}
nav #navigation:hover{
	background:rgba(158,158,158,0.2);
}

nav #navigation p{
	font-size:14px;
	margin-left:3px;	
}
nav #navigation h1{
	font-size:27px;	
}

nav .top_right_menu{
	display:block;	
}

nav .top_right_menu .menu_list{
	display:inline-block;
}
nav .top_right_menu .menu_list li{
	float:left;
	font-size:15px;
	font-weight:bold;	
	height:70px;
	line-height:70px;
	margin:0 10px;
}
nav .top_right_menu #dropdown{
	display:none;
	width:32px;
	height:40px;
	float:right;
	margin-right:20px;
	background:url('http://jgh9514.com/jap/image/icon.png') no-repeat;	
	background-position-x:-38px;
	margin-top:20px;
}

#top_banner{
	width:100%;
	height:600px;
	background:url('http://jgh9514.com/jap/image/body_background.jpg') no-repeat;	
	background-attachment:fixed;
	background-size:cover;
	position:relative;
}
#top_banner .text_01{
	font-size:70px;
	color:#fff;
	position:absolute;
	top:250px;
	opacity:1;
	left:50%;
	transform:translateX(-50%);
	font-weight:bold;
	
}


#top_banner .text_02{
	font-size:60px;
	color:#fff;
	position:absolute;
	top:350px;
	opacity:1;
	left:50%;
	transform:translateX(-50%);
	font-weight:bold;
	
}


@media screen and (max-width: 768px) { 
	nav #navigation{
		display:none;	
	}
	nav #dropdown{
		display:block;
	}
	#top_banner{
		height:400px;	
	}
	#top_banner .text_01{
		font-size:7vw;
		top:50%; 
		animation-name:load_text_01_mobile;
		animation-duration:2s;
	}
	#top_banner .text_02{
		font-size:5vw;
		top:65%; 
		animation-name:load_text_02_mobile;
		animation-duration:2s;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) { 
	nav #navigation{
		display:block;	
	}
	nav #dropdown{
		display:none;
	}
	#top_banner{
		height:300px;	
	}
	#top_banner .text_01{
		font-size:40px;
		top:130px;
		animation-name:load_text_01_tablet;
		animation-duration:2s;
	}
	#top_banner .text_02{
		font-size:30px;
		top:200px;
		animation-name:load_text_02_tablet;
		animation-duration:2s;
	}
}

@media screen and (min-width: 1025px){
	
	#top_banner .text_01{
		animation-name:load_text_01_desktop;
		animation-duration:2s;
	}
	#top_banner .text_02{
		animation-name:load_text_02_desktop;
		animation-duration:2s;
	}
}


/* �궎�봽�젅�엫 �븷�땲硫붿씠�뀡 �룞�옉 */
@keyframes load_text_01_mobile{
	0%{
		top:45%;
		opacity:0;
	}
	100%{
		top:50%;
		opacity:1;
	}
}

@keyframes load_text_02_mobile{
	0%{
		top:60%;
		opacity:0;
	}
	100%{
		top:65%;
		opacity:1;
	}
}

/* �궎�봽�젅�엫 �븷�땲硫붿씠�뀡 �룞�옉 */
@keyframes load_text_01_tablet{
	0%{
		top:100px;
		opacity:0;
	}
	100%{
		top:130px;
		opacity:1;
	}
}

@keyframes load_text_02_tablet{
	0%{
		top:170px;
		opacity:0;
	}
	100%{
		top:200px;
		opacity:1;
	}
}

@keyframes load_text_01_desktop{
	0%{
		top:200px;
		opacity:0;
	}
	100%{
		top:250px;
		opacity:1;
	}
}

@keyframes load_text_02_desktop{
	0%{
		top:300px;
		opacity:0;
	}
	100%{
		top:350px;
		opacity:1;
	}
}
